@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&display=swap");


:root {
  --clr-blue: #0000ff;
  --clr-green: #008000;
  --clr-red: #ff0000;
  --clr-darkblue: #000080;
  --clr-darkred: #800000;
  --clr-teal: #008080;
  --clr-black: #000000;
  --clr-gray: #808080;
  --clr-lightgray: #c0c0c0;

  --cellsize: 32px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  background-color: #111;
}
input,
button {
  font-family: inherit;
} /*****************/

#ui_frame {
  background-color: var(--clr-lightgray);
  width: max-content;
  margin: 4em auto 1em;
  padding: 16px;
}

#ui_field {
  display: grid;
  grid-template-columns: repeat(9, var(--cellsize));
  grid-template-rows: repeat(9, var(--cellsize));
  width: max-content;
  background-color: var(--clr-lightgray);
  user-select: none;
  border: 8px solid var(--clr-gray);
  border-bottom-color: white;
  border-right-color: white;
}

.cell {
  border: 5px solid var(--clr-gray);
  border-left: 5px solid white;
  border-top: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  font-size: var(--cellsize);
  font-weight: bold;
  background-color: var(--clr-lightgray);
}

.visible {
  background-color: var(--clr-lightgray);
  box-shadow: none;
  border: 2px solid var(--clr-gray);
}

.cell[data-adjmines="1"] {
  color: var(--clr-blue);
}
.cell[data-adjmines="2"] {
  color: var(--clr-green);
}
.cell[data-adjmines="3"] {
  color: var(--clr-red);
}
.cell[data-adjmines="4"] {
  color: var(--clr-darkblue);
}
.cell[data-adjmines="5"] {
  color: var(--clr-darkred);
}
.cell[data-adjmines="6"] {
  color: var(--clr-teal);
}
.cell[data-adjmines="7"] {
  color: var(--clr-black);
}
.cell[data-adjmines="8"] {
  color: var(--clr-gray);
}

.flagged {
  background: url(./img/flag.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.hypothese {
  background: url(./img/hypothese.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.mined {
  background: url(./img/mine.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Interface */
#ui_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: space-between; */
  align-items: center;
  padding: 6px;
  margin-bottom: 16px;
  border: 2px solid var(--clr-gray);
  border-bottom-color: white;
  border-right-color: white;
}

#ui_start_btn {
  all: unset;
  display: block;
  width: 38px;
  height: 38px;
  border: 3px solid var(--clr-gray);
  border-top-color: white;
  border-top-width: 3px;
  border-left-color: white;
  border-left-width: 3px;
  background: url(./img/smiley.png);
  background-size: 100%;
  background-repeat: no-repeat;
  outline: 2px solid var(--clr-gray);
  justify-self: center;
}

#ui_start_btn:active {
  background-color: var(--clr-lightgray);
  border-color: var(--clr-gray);
  border-right-width: 1px;
  border-bottom-width: 1px;
}

#ui_header canvas {
  border: 2px solid var(--clr-gray);
  border-bottom-color: white;
  border-right-color: white;
  height: calc(var(--cellsize) * 1.5);
  opacity: 0;
}

#ui_header canvas:last-of-type {
  justify-self: end;
}

#number_images {
  display: none;
}

/* UI at defeat */
.defeat,
.victory {
  pointer-events: none;
}

.defeat #ui_start_btn {
  background-image: url(./img/smiley-defeat.png);
}
.victory #ui_start_btn {
  background-image: url(./img/smiley-victory.png);
}
